In [2]:
import sys
sys.path.append('..')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
from utils.preprocessing import *
import core.config as conf

In [2]:
data_path = '/dataset/final_data/raw_data/part-00000'
df = read_data(data_path)

## Train-valid split

In [3]:
len(df)

14271144

In [7]:
train_size = 11416915

In [5]:
df

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
0,101\t56898\t137\t99900\t40517\t49457\t10305\t1...,NaN,63F05256F79E7A098BF78E508967014B,NaN,NaN,NaN,Retweet,B0FA488F2911701DD8EC5B1EA5E322D8,1614675246,7D3C3D00D14613287ABC9C140FE26A54,...,05DAD6CEF374FE6DBB6A845828C14E46,437,366,False,1540017514,True,NaN,NaN,NaN,1.614675e+09
1,101\t27158\t42682\t14444\t188\t16218\t10173\t4...,A338C5C1637BEDA847BC1237241145BC,620B83CB3963A1A24D59AD1CDA2C1E10,NaN,NaN,NaN,TopLevel,B8B04128918BBF54E2E178BFF1ABA833,1614476822,6B1525449DEC20FFB77526D2A86B1563,...,F16C923EEEF0C56FA8E03C9947A70CAB,1316,1261,False,1470337501,True,NaN,NaN,NaN,NaN
2,101\t56898\t137\t32385\t61620\t12659\t22471\t1...,NaN,5614711FC32B65D6315447666196B362,Video,NaN,NaN,Retweet,E7F038DE3EAD397AEC9193686C911677,1614593752,437B4EF4128B8FE8079BB81A5ACF656C,...,86FADA0FC87B8668B34C4C9EA41EEF54,417,411,False,1576241664,True,NaN,NaN,NaN,NaN
3,101\t10117\t11424\t25441\t10135\t100\t14120\t1...,NaN,50733D80B3733168FBEBA7B7E6F76328,Photo\tPhoto,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614316064,96BD65F70F3659D17C532D17EE89E378,...,CF3CCAA5F335FC784FD5635CF433688C,3,60,False,1602401250,False,NaN,NaN,NaN,1.614357e+09
4,101\t55531\t8641\t6824\t1933\t15802\t14725\t10...,NaN,9AF23572E97D092F188F89B98026F970,NaN,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614349500,0076D50D707E65CA929490588036C58A,...,AC30E66EC27F4C07FE1278D6DDC2FBEB,136,211,False,1571210700,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14271139,101\t3815\t1975\t111793\t14120\t131\t120\t120\...,NaN,4280B9A207B56696F8D45C13ACD05379,Photo,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614342582,FA496FB5DBD79BEA4BBEACB6ED6A97A6,...,077E49272FD5B88CA8ACB15FE76173C3,60,425,False,1499081516,False,NaN,NaN,NaN,1.614343e+09
14271140,101\t149\t11565\t30271\t10146\t11395\t216\t107...,NaN,EE9918C5D25101CC58C2ED6DD70CD28E,NaN,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614251200,5F865A9042F72D12A3907562BA4B9DCB,...,6F7F7E222046A73F03A83E38B9A6E5AA,980,298,False,1488303474,True,1.614251e+09,NaN,NaN,NaN
14271141,101\t91327\t10107\t10142\t11223\t86981\t12023\...,NaN,F0FFDEDC4B49659C30EB4915114ACA18,Photo,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614536014,AEA4C2C14C8DAF353BA1AECC378FED4E,...,58F8F17AC0568979B0350C718DFFCFAF,10,164,False,1556532857,False,NaN,NaN,NaN,1.614559e+09
14271142,101\t30929\t71033\t10858\t11273\t83259\t11090\...,NaN,7F08348140C63B8348F157B5AA5E730A,Photo\tPhoto,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614450237,65C0102FC1A08A22E6AEEE868AF1DAA3,...,9A640AEA31AE5B22B9793A9791E8399A,435,2245,False,1581552902,False,NaN,NaN,NaN,1.614464e+09
14271143,101\t13740\t19153\t10107\t28974\t11008\t10192\...,NaN,3DA4FA3E2C5DB8E37F92A4AF889D5E53,NaN,NaN,NaN,TopLevel,B8B04128918BBF54E2E178BFF1ABA833,1614220291,AB1E64105655F93C35692479A1913547,...,51BDB368E8107809DBAF75F037DE05A8,279,879,False,1441728457,False,NaN,NaN,NaN,1.614266e+09

In [8]:
train = df[:train_size]
valid = df[train_size:]

In [11]:
train.to_csv(f"/dataset/final_data/dataset/train/part-0", header=False, sep='\x01', index=False)
valid.to_csv(f"/dataset/final_data/dataset/valid/part-0", header=False, sep='\x01', index=False)

## trian split (2)

In [3]:
df = read_data('/dataset/final_data/dataset/train/part-0')

In [4]:
train_size = len(df) // 2

In [5]:
train1 = df[:train_size]
train2 = df[train_size:]

In [6]:
train1.to_csv(f"/dataset/final_data/dataset/train/part-01", header=False, sep='\x01', index=False)
train2.to_csv(f"/dataset/final_data/dataset/train/part-02", header=False, sep='\x01', index=False)

In [7]:
train1

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
0,101\t56898\t137\t99900\t40517\t49457\t10305\t1...,NaN,63F05256F79E7A098BF78E508967014B,NaN,NaN,NaN,Retweet,B0FA488F2911701DD8EC5B1EA5E322D8,1614675246,7D3C3D00D14613287ABC9C140FE26A54,...,05DAD6CEF374FE6DBB6A845828C14E46,437,366,False,1540017514,True,NaN,NaN,NaN,1.614675e+09
1,101\t27158\t42682\t14444\t188\t16218\t10173\t4...,A338C5C1637BEDA847BC1237241145BC,620B83CB3963A1A24D59AD1CDA2C1E10,NaN,NaN,NaN,TopLevel,B8B04128918BBF54E2E178BFF1ABA833,1614476822,6B1525449DEC20FFB77526D2A86B1563,...,F16C923EEEF0C56FA8E03C9947A70CAB,1316,1261,False,1470337501,True,NaN,NaN,NaN,NaN
2,101\t56898\t137\t32385\t61620\t12659\t22471\t1...,NaN,5614711FC32B65D6315447666196B362,Video,NaN,NaN,Retweet,E7F038DE3EAD397AEC9193686C911677,1614593752,437B4EF4128B8FE8079BB81A5ACF656C,...,86FADA0FC87B8668B34C4C9EA41EEF54,417,411,False,1576241664,True,NaN,NaN,NaN,NaN
3,101\t10117\t11424\t25441\t10135\t100\t14120\t1...,NaN,50733D80B3733168FBEBA7B7E6F76328,Photo\tPhoto,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614316064,96BD65F70F3659D17C532D17EE89E378,...,CF3CCAA5F335FC784FD5635CF433688C,3,60,False,1602401250,False,NaN,NaN,NaN,1.614357e+09
4,101\t55531\t8641\t6824\t1933\t15802\t14725\t10...,NaN,9AF23572E97D092F188F89B98026F970,NaN,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614349500,0076D50D707E65CA929490588036C58A,...,AC30E66EC27F4C07FE1278D6DDC2FBEB,136,211,False,1571210700,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5708452,101\t2008\t13913\t72881\t16463\t22526\t22526\t...,NaN,087DC1181AE202D5600BA53B80269134,NaN,NaN,NaN,Quote,E7F038DE3EAD397AEC9193686C911677,1614731157,A585789EC9338A755D4AFE33E344974D,...,54BCACAD7836B4B98EC355FB1D6A3639,24,53,False,1603675852,True,1.614731e+09,NaN,NaN,NaN
5708453,101\t1942\t18628\t15752\t31483\t15970\t111820\...,NaN,D8CE000BF673DEE168AD099340C37CCD,NaN,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614490493,573629CDAFCD69F591863A85B38E42DE,...,FBFBC5782A7A9AF4D0FF1E5D997F4E8D,138,2480,False,1543899136,False,NaN,NaN,NaN,1.614491e+09
5708454,101\t10117\t32221\t67299\t30100\t40919\t10124\...,NaN,6B713B98E992CC76514E4CBECA8ABC10,NaN,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614360193,8075140B8A71496375E90C388FCB28C8,...,9F6FBFDDB0019AFE099DA0EEB01361B9,99,472,False,1284672795,False,NaN,NaN,NaN,NaN
5708455,101\t788\t15436\t10700\t59658\t20688\t789\t542...,66DC75DCDA7623CE8176CEE804CEA6C0,5E4C822FBD7E3BD6EE001381386BBC20,Video,NaN,NaN,TopLevel,00304D7356D6C64481190D708D8F739C,1614431487,945930F84516AF71C9C63AB9FC0F2A46,...,C4A4773975F445F928A8D75C3CA72DAE,361,519,False,1557522169,False,NaN,NaN,NaN,NaN
5708456,101\t123\t120\t10186\t7911\t1892\t2187\t4348\t...,962B7744D8DFBE887BF638508CB28625,ACF1875C166C32E51C76A515617F3B97,Photo\tPhoto\tPhoto,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614284789,659AF6A3A10E1E6EB57CDF4612ACF441,...,808E768F96225D59C6AD7BE98E904E25,126,123,False,1576334169,False,NaN,NaN,NaN,NaN

In [8]:
train2

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
5708457,101\t56898\t137\t23467\t168\t10751\t168\t10453...,NaN,E45095A8BF1571E86E49676D64860831,NaN,NaN,NaN,Retweet,E7F038DE3EAD397AEC9193686C911677,1614501759,C85E3FCDA608DEA42F33AC1DF7CF3B8C,...,D2BC86AB7255F579F5453D9153D9987F,16,26,False,1501548584,False,NaN,1.614610e+09,NaN,NaN
5708458,101\t15945\t96621\t10493\t10125\t96825\t23477\...,E99D823593A16272FEC6D8BF252CE6A5,A2B47EFC2551158F8573D442B3016B6F,NaN,NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614289987,B125289AB238887EF65BB4E9FAC4CBB1,...,628BE248339B2A38D20E0679F9CAFFE1,207,241,False,1499970685,False,NaN,NaN,NaN,NaN
5708459,101\t56898\t137\t25041\t23044\t14193\t131\t141...,NaN,9579C5793813D5A6480F0E04F71422C6,Photo\tPhoto\tPhoto\tPhoto,NaN,NaN,Retweet,313ECD3A1E5BB07406E4249475C2D6D6,1614229419,4AEACC52BA084C7E292162616F79FF0C,...,B9FF1086069969BB78F14DFF23C32D4B,1837,2419,False,1545254942,True,NaN,NaN,NaN,1.614230e+09
5708460,101\t91327\t13028\t10114\t48628\t10479\t10529\...,252CADE3025574E0F639AB340A2F1C5C\tB814759A3AB1...,B46DE6AE4F7D0FA555254123C35C9BC6,GIF,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614486150,F7D3DE27BBE6377C55C3649AE12CE6AF,...,0E8883712A635FCDBBF434D86C8DBE1E,166,255,False,1516982372,False,NaN,NaN,NaN,NaN
5708461,101\t56898\t137\t102204\t168\t168\t144\t13641\...,NaN,B97DB02B75F07BB2C6F974C1F750D8B5,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1614428895,153DC02335F2FDB6D6103FF33C7B8EC2,...,450798C940670FB7F3DB0B97D1A37BF3,25,143,False,1563381600,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11416910,101\t9122\t12965\t108578\t8843\t58205\t9502\t1...,NaN,E4052B10E4F0A09930B5DA2BE5F78F84,Photo,NaN,NaN,TopLevel,8729EBF694C3DAF61208A209C2A542C8,1614427710,E98F323603588E8445ED69E569D904BA,...,196F7492FBF8AFE5CD51978B5AD617D8,379,113,False,1557366730,True,NaN,NaN,NaN,1.614428e+09
11416911,101\t24362\t22711\t16946\t172\t100\t33591\t196...,NaN,6B9C03953B5B6C177D995E9EBFBAD7EE,NaN,65669E26546444743858D7C94324D7F6,26A6BA53C5086040CC2C81ADE66224CE,TopLevel,E6936751CBF4F921F7DE1AEF33A16ED0,1614488702,6B77E15F0C5A987F8200D2DC866861D6,...,806ADA2A82FC2B283C855CE194745288,20,126,False,1297629220,False,NaN,NaN,NaN,NaN
11416912,101\t11028\t3642\t2202\t1881\t5106\t3580\t1946...,NaN,E315B61D3C78156CDE90F3DEC0D61D3F,NaN,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1614382459,3B517119D137555C7890D921C60467DB,...,ADEE5A2E25D9362E6AF9E375A776F465,363,399,False,1368971498,False,NaN,NaN,NaN,NaN
11416913,101\t10747\t10393\t40332\t10108\t67420\t28780\...,NaN,6F5A2997F2B182BC2977A7086B005EAE,NaN,NaN,NaN,Quote,488B32D24BD4BB44172EB981C1BCA6FA,1614642325,6E6BF4D719F7808F504980A6CCC55702,...,BEBFE5823C664F69B8D4BD85C3EBE7BA,0,26,False,1604497886,False,NaN,NaN,NaN,1.614686e+09
11416914,101\t46231\t16297\t10142\t55303\t10111\t23921\...,NaN,9BE61823A3DEC311EA33E92434983C48,Photo\tPhoto\tPhoto,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1614479703,6F6AB28F02809419C1D2DE58A78A7981,...,2DA92EF2BFECE3BFBC522FA66982A27E,768,1170,False,1474074108,False,NaN,NaN,NaN,1.614486e+09

## Cross-validation-data

In [ ]:
df['day'] = pd.to_datetime( df['tweet_timestamp'] , unit='s' ).dt.day

In [ ]:
print('train-ad:', df['day'].min(), df['day'].max())

In [26]:
df['day'].unique()

array([ 2, 28,  1, 26, 27,  3, 25])