In [2]:
import sys
sys.path.append('..')

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)


from utils.util import *
from utils.preprocessing import *

import core.config as conf

In [3]:
file_name = 'part-00020'
path = f'{conf.raw_lzo_path}/{file_name}'
df = read_data(path)
gc.collect()

0

In [4]:
df = df.drop(conf.labels, axis=1)

In [5]:
df.columns

Index(['text_tokens', 'hashtags', 'tweet_id', 'media', 'links', 'domains',
       'tweet_type', 'language', 'tweet_timestamp', 'creator_id',
       'creator_follower_count', 'creator_following_count',
       'creator_is_verified', 'creator_account_creation', 'engager_id',
       'engager_follower_count', 'engager_following_count',
       'engager_is_verified', 'engager_account_creation',
       'creator_follows_engager'],
      dtype='object')

In [7]:
df.to_csv(f'{conf.project_root}test/{file_name}', index=False)

In [8]:
df.head()

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,creator_follower_count,creator_following_count,creator_is_verified,creator_account_creation,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager
0,101\t56898\t137\t15212\t12772\t168\t131\t87692...,NaN,CA9F441C56B4D49D96B50F82DE3203B5,Photo,NaN,NaN,Retweet,B0FA488F2911701DD8EC5B1EA5E322D8,1613966122,DF9024694348BCFD4ACEEE1007754F66,935,673,False,1368119002,DE1AA5C95FD2BBC9CDDFE7109037DADC,1090,107,False,1551681294,False
1,101\t10117\t13190\t10108\t12140\t11061\t13914\...,146750B0EC1F0CE555A2C3DFE3824C47\tD857520E02B3...,8174A3044A3E99E37C7ED002EFB6025F,NaN,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1613615967,801762D19B72BF0ED67946E26CAA6903,1974218,2464,True,1230906328,A025DB5A578742F207568CC9349B97FF,2397,1188,False,1307428108,False
2,101\t10766\t15254\t31043\t10104\t187\t112\t154...,NaN,0EF1AF32E395C2D941532C92E2F980D0,NaN,B990ECED7FADC7BED7844E1C26FF410E,35C841DDA4355D0C130A90A02A8FF01D,TopLevel,E6936751CBF4F921F7DE1AEF33A16ED0,1613622132,AAC63571510FA57780E86E1266635833,264,19,False,1254733839,546C92C144784A42D80A1B9AD520BBB1,198,360,False,1460646893,False
3,101\t20754\t10104\t58168\t117\t12001\t10245\t1...,CE5B75DF0C79C4FEF837DC6384592DF7\tC4FB06E370B0...,9D142875AE4CB9B7C61E9D4D62D5A326,NaN,NaN,NaN,TopLevel,23686A079CA538645BF6118A1EF51C8B,1613325847,9D8DBDAFB7B8932004C15C3972DB88E4,171,485,False,1534528757,D3C14035F2C6D26755833CE13825A221,170,613,False,1476705941,True
4,101\t56898\t137\t61116\t168\t58985\t131\t11741...,9FA4F829DAE15B477C1922650D8359F8,BF82A97201D4C8D83CB7E7CF9239A3D1,Photo,NaN,NaN,Retweet,B0FA488F2911701DD8EC5B1EA5E322D8,1613264270,C49442B4B8C76ABD39580B9142BD55FF,196,245,False,1368930441,41549EB858BFCCA6933A862AFBEE5E6F,161,218,False,1602088770,True