In [2]:
import sys
sys.path.append('..')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
from utils.preprocessing import *
import core.config as conf

## time split

In [9]:
file_list = sorted(os.listdir(conf.raw_data_path))

for raw_file_name in tqdm(file_list):
    part = raw_file_name[-3]
    data_path = conf.raw_lzo_path + raw_file_name
    df = read_data(data_path)
    df['day'] = pd.to_datetime( df['tweet_timestamp'] , unit='s' ).dt.day

    for i in (range(df['day'].min(), df['day'].max()+1)): # 4~24
        if i >= 10:
            day = str(i)
        else:
            day = '0' + str(i)

        # dir_path = f'{conf.dataset_path}/2102{day}'
        # # makedir
        # if not os.path.exists(dir_path):
        #     os.makedirs(dir_path)

        # save
        df[df['day'] == i].drop('day', axis=1).to_csv(f"{conf.dataset_path}/part-2102{day}-{part}", mode='a', header=False, sep='\x01', index=False)
    
    del df

100%|██████████| 291/291 [3:06:34<00:00, 38.47s/it]

## test

In [11]:
data_path = f'{conf.dataset_path}/part-210204-0'

test = read_data(data_path)

In [58]:
test

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
0,101\t72493\t13439\t16114\t10149\t10671\t131\t1...,NaN,A0B21C0A04D232A717B11517C8E3E253,NaN,NaN,NaN,TopLevel,B8B04128918BBF54E2E178BFF1ABA833,1613313284,DFD0EE0ADAAB8E5FAAD0604BBE05081F,...,02FEA62825EEBCBAB8596A090BB07E36,136,481,False,1493250440,True,NaN,NaN,NaN,1.613342e+09
1,101\t17244\t117\t11299\t84480\t118\t47271\t113...,NaN,7D8232B2C5FFB3B396DEB8F07EB0E779,NaN,NaN,NaN,Quote,488B32D24BD4BB44172EB981C1BCA6FA,1613303449,D70507F1FF928548B39704E020B9A781,...,2C3052CC8FFC55E4D738FCAAC152207F,406,364,False,1340691110,False,NaN,NaN,NaN,NaN
2,101\t95154\t3460\t1923\t12236\t3188\t4348\t191...,NaN,441192F3FAA11581DCE6C31DAF410926,Photo\tPhoto,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1613294377,23309ACC72E643024A65CDC0192334D6,...,2718414C8DF930EAE55532EA06A509C2,79,261,False,1582941194,True,NaN,NaN,NaN,1.613300e+09
3,101\t56898\t137\t101989\t92736\t13372\t131\t14...,NaN,9667E109D02427ED8222FC7381BDCA67,Photo\tPhoto,NaN,NaN,Retweet,9FCF19233EAD65EA6E32C2E6DC03A444,1613295531,2E9907130DCF3D9F5E86EF6398A01C39,...,0927E0722215A31AF566CE29AC78DF6A,0,54,False,1345768982,False,NaN,NaN,NaN,NaN
4,101\t1997\t61631\t10634\t3173\t1912\t16923\t10...,00F38D0A6E0E767A8DCFF70189B16F80\t2B4A34148769...,20BC2CF97885E6CC9F0E182DDC606985,NaN,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1613301771,CCA9D6C23A87AE4341891FFCB782FE1E,...,08F351778A9562E63ED4477C895BE361,906,360,False,1480945046,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144101,101\t13744\t10147\t12741\t10621\t33098\t46110\...,NaN,0975D9E7A5AD8E950CE56D5973489AB6,NaN,NaN,NaN,TopLevel,DA13A5C3763C212D9D68FC69102DE5E5,1613300177,16B59AEDB3CDA24B2CC81058F4BA8748,...,BF47086775081B81CF8B9B3F630F253D,70,121,False,1448997237,False,NaN,NaN,NaN,NaN
144102,101\t56898\t137\t94836\t10418\t26076\t131\t948...,NaN,AD11607AB5F6C29E6EE0EB855C84F05A,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1613306467,568D262F6FEF65CD985EFCC80BD01EEA,...,D8FBA716B3E36CCD646BA0303873625D,46,734,False,1481915158,False,NaN,NaN,NaN,NaN
144103,101\t30665\t30905\t10312\t10138\t163\t49196\t2...,NaN,310516879EFDCC935B5886858B90A77B,Photo,NaN,NaN,TopLevel,1F73BB863A39DB62B4A55B7E558DB1E8,1613318426,CFC06377A695E4675165D6FB5AE8A543,...,AD25741909FB73FAAAD7C256A0AC60D2,251,233,False,1482816229,False,NaN,NaN,NaN,NaN
144104,101\t56898\t137\t52227\t11490\t11273\t14783\t2...,NaN,E46C19A7CFE4FB10DA1191EC1AFABA30,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1613269298,0B848B7DEA68CA25D68B8681EFA265F5,...,BE64B5F8055F08CC7AC9D8F84796BECA,630,1013,False,1470450449,True,NaN,NaN,NaN,1.613273e+09
144105,101\t19561\t10605\t97764\t10729\t64008\t30297\...,NaN,B42CB5B47ABCCA8700686CD8F32696B6,NaN,NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1613329929,D3D9F1F6F4CCFA079891511B0818FF03,...,1C3C0C32D7AEBCA253DC54EC85084951,27,83,False,1540658011,False,NaN,NaN,NaN,1.613332e+09