In [2]:
import sys
sys.path.append('..')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
from utils.preprocessing import *
import core.config as conf

## time split

In [9]:
file_list = sorted(os.listdir(conf.raw_lzo_path))

for raw_file_name in tqdm(file_list):
    part = raw_file_name[-3]
    data_path = conf.raw_lzo_path + raw_file_name
    df = read_data(data_path)
    df['day'] = pd.to_datetime( df['tweet_timestamp'] , unit='s' ).dt.day

    for i in (range(df['day'].min(), df['day'].max()+1)): # 4~24
        if i >= 10:
            day = str(i)
        else:
            day = '0' + str(i)

        # dir_path = f'{conf.dataset_path}/2102{day}'
        # # makedir
        # if not os.path.exists(dir_path):
        #     os.makedirs(dir_path)

        # save
        df[df['day'] == i].drop('day', axis=1).to_csv(f"{conf.dataset_path}/part-2102{day}-{part}", mode='a', header=False, sep='\x01', index=False)
    
    del df

100%|██████████| 291/291 [3:06:34<00:00, 38.47s/it]

## test

In [3]:
data_path = f'{conf.dataset_path}/part-210204-0'

test = read_data(data_path)

In [4]:
test

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
0,101\t15764\t10700\t763\t24455\t17329\t19163\t1...,NaN,9B25FA25E79D31D3BCC37C45F4C731E5,NaN,NaN,NaN,TopLevel,9A78FC330083E72BE0DD1EA92656F3B5,1612472571,A5A49E65DE6B45652AFCA96BB96EB7D0,...,39333FE12CE46A640E8B4422CD5322EE,167,394,False,1546022960,True,NaN,NaN,NaN,1.612536e+09
1,101\t100\t102,NaN,A3974F1BC83B2D1DE672D3A6D8539ADC,NaN,NaN,NaN,Quote,313ECD3A1E5BB07406E4249475C2D6D6,1612450518,370DC464BAAA0605646CED9F6F623209,...,55EE30E04A2B87055A2A06DD1E5BCD88,891,1769,False,1537576980,True,NaN,NaN,NaN,1.612451e+09
2,101\t56898\t137\t15688\t61497\t11809\t131\t101...,3845D7476D231FA1AD18463A400026A4,3B6498FF58C7E5F642F03179D148010A,Photo,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1612397217,A8419ECCFEF225FE048F35959FB31609,...,7C170CBD96EB11E9B5036FD859DCEE64,542,511,False,1501966397,False,NaN,NaN,NaN,NaN
3,101\t56898\t137\t88449\t11369\t40876\t10147\t1...,NaN,1C1FA9ACD3C35515C0FBB8D800DC720A,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1612406118,D5FB9ACC23F7BF85D7F2192D7745DBC8,...,8447D2D1DD8616D7789B3B4AA7973C96,7,30,False,1461370543,False,NaN,NaN,NaN,1.612407e+09
4,101\t28248\t10320\t10192\t13605\t16670\t10219\...,NaN,8C9B185DEB518C1E2F67974258523DC3,NaN,NaN,NaN,Quote,B0FA488F2911701DD8EC5B1EA5E322D8,1612411409,F4760C2FCC128F83C77FD39174B532EB,...,4AA853CCDC80ECCBEC279086899136BD,374,489,False,1308685631,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15232802,101\t11982\t77676\t183\t20401\t60121\t12013\t102,NaN,9261511B2BDED772738E26393D5803BB,NaN,NaN,NaN,TopLevel,B8B04128918BBF54E2E178BFF1ABA833,1612405413,AC2F2DC071EBE7092152F2D4006BEA90,...,DC4078342553C8CB2E227F62C876E670,424,230,False,1284737129,False,NaN,NaN,NaN,NaN
15232803,101\t100\t102,NaN,9CA4EC7C28344E549944B54AF548C869,NaN,NaN,NaN,Quote,313ECD3A1E5BB07406E4249475C2D6D6,1612407774,A1C778A214177412AC712B1536E6A62F,...,2F5F3B4591EAC4479906672F6A4ACEDA,66,377,False,1263146738,False,NaN,NaN,NaN,NaN
15232804,101\t146\t32240\t18376\t14172\t11327\t15127\t2...,NaN,E17B8160C7260C52A47AF163FFAA443F,NaN,NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,1612477059,BC1041978577FE7FE15DD787E80B3D92,...,684362571DF22FA38C7E5BB64E122CE8,584,502,False,1581267213,True,NaN,NaN,NaN,NaN
15232805,101\t4378\t4348\t1946\t4163\t3388\t10074\t1063...,F95515697EB91C597A3240E918E7E12F,127516789F35C30FA0B6D58272B369AD,Photo\tPhoto\tPhoto,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1612418090,F77401606F525CFBE60CFE88817045E6,...,5E5AAB5E2A2C6C7E62BC24C300D8AAA7,5184,5204,False,1268234408,True,1.612430e+09,NaN,NaN,NaN
15232806,101\t56898\t137\t19132\t12349\t28580\t76560\t1...,F455AA7D87B3256A17E56C93AA8AF30F,16C142D95E835895A85CADAC4EA2F444,NaN,NaN,NaN,Retweet,E7F038DE3EAD397AEC9193686C911677,1612411471,626486C52DA6118AADCBA7B9CB9ABC37,...,540D348A7CFDB299F8B3DC67B93EC0B6,4396,350,False,1241792769,True,NaN,NaN,NaN,NaN

In [5]:
test.head()

,text_tokens,hashtags,tweet_id,media,links,domains,tweet_type,language,tweet_timestamp,creator_id,...,engager_id,engager_follower_count,engager_following_count,engager_is_verified,engager_account_creation,creator_follows_engager,reply_timestamp,retweet_timestamp,comment_timestamp,like_timestamp
0,101\t15764\t10700\t763\t24455\t17329\t19163\t1...,NaN,9B25FA25E79D31D3BCC37C45F4C731E5,NaN,NaN,NaN,TopLevel,9A78FC330083E72BE0DD1EA92656F3B5,1612472571,A5A49E65DE6B45652AFCA96BB96EB7D0,...,39333FE12CE46A640E8B4422CD5322EE,167,394,False,1546022960,True,NaN,NaN,NaN,1.612536e+09
1,101\t100\t102,NaN,A3974F1BC83B2D1DE672D3A6D8539ADC,NaN,NaN,NaN,Quote,313ECD3A1E5BB07406E4249475C2D6D6,1612450518,370DC464BAAA0605646CED9F6F623209,...,55EE30E04A2B87055A2A06DD1E5BCD88,891,1769,False,1537576980,True,NaN,NaN,NaN,1.612451e+09
2,101\t56898\t137\t15688\t61497\t11809\t131\t101...,3845D7476D231FA1AD18463A400026A4,3B6498FF58C7E5F642F03179D148010A,Photo,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1612397217,A8419ECCFEF225FE048F35959FB31609,...,7C170CBD96EB11E9B5036FD859DCEE64,542,511,False,1501966397,False,NaN,NaN,NaN,NaN
3,101\t56898\t137\t88449\t11369\t40876\t10147\t1...,NaN,1C1FA9ACD3C35515C0FBB8D800DC720A,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1612406118,D5FB9ACC23F7BF85D7F2192D7745DBC8,...,8447D2D1DD8616D7789B3B4AA7973C96,7,30,False,1461370543,False,NaN,NaN,NaN,1.612407e+09
4,101\t28248\t10320\t10192\t13605\t16670\t10219\...,NaN,8C9B185DEB518C1E2F67974258523DC3,NaN,NaN,NaN,Quote,B0FA488F2911701DD8EC5B1EA5E322D8,1612411409,F4760C2FCC128F83C77FD39174B532EB,...,4AA853CCDC80ECCBEC279086899136BD,374,489,False,1308685631,True,NaN,NaN,NaN,NaN

In [ ]:
test.tail()