# Baseline - Extract most popular tweet for each langugage

In [9]:
import sys
sys.path.append('../..')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split

from utils.cuda_cluster import *
from utils.dataset import read_data, factorize_small_cardinality

import core.config as conf

In [2]:
client

## 1. Load data & preprocessing

In [3]:
# data_path = conf.raw_data_path + '*' # for all dataset
data_path = conf.raw_data_path + 'part-00175'
ori_df = read_data(data_path)

number of rows: 3033347

In [18]:
df = ori_df[['enaging_user_id', 'tweet_timestamp', 'language', 'tweet_id', 'reply_timestamp', 'retweet_timestamp','retweet_with_comment_timestamp', 'like_timestamp']]

In [19]:
df['is_reply'] = df['reply_timestamp'].compute().applymap(lambda x: 1 if x > 0 else 0).astype(np.int32)
df['is_retweet'] = df['retweet_timestamp'].compute().applymap(lambda x: 1 if x > 0 else 0).astype(np.int32)
df['is_comment'] = df['retweet_with_comment_timestamp'].compute().applymap(lambda x: 1 if x > 0 else 0).astype(np.int32)
df['is_like'] = df['like_timestamp'].compute().applymap(lambda x: 1 if x > 0 else 0).astype(np.int32)

df['positive_cnt'] = df[['is_like', 'is_retweet', 'is_reply', 'is_comment']].sum(axis=1).astype(np.uint8)

df = df.drop('reply_timestamp', axis=1)
df = df.drop('retweet_timestamp', axis=1)
df = df.drop('retweet_with_comment_timestamp', axis=1)
df = df.drop('like_timestamp', axis=1)

In [20]:
df, idx_to_tweet = factorize_small_cardinality(df, 'tweet_id')
df, idx_to_language = factorize_small_cardinality(df, 'language')

In [21]:
df.head()

,enaging_user_id,tweet_timestamp,language,tweet_id,is_reply,is_retweet,is_comment,is_like,positive_cnt,tweet_id_encode,language_encode
id,,,,,,,,,,,
1,411C3FA9B6AB5CA95192D875CDC22823,1612993854,B8B04128918BBF54E2E178BFF1ABA833,C8F345CF8BC7A86E34572072ECFBBEC4,0,0,0,1,1,2214622,48
2,E764026AB0E38A5C2FF19921D73B6C18,1612886900,9FCF19233EAD65EA6E32C2E6DC03A444,C1E31636C343B780BA776E4B73147028,0,0,0,0,0,2136815,43
3,455134BAAD3EAC4093393EC233FBAEF9,1614019237,B0FA488F2911701DD8EC5B1EA5E322D8,B436C84E80C2430BA9DE41FDF04C73BF,1,0,0,0,1,1986297,46
4,92D70497B86CAFBA5C51E331084462AD,1612779567,1F73BB863A39DB62B4A55B7E558DB1E8,033FFA42C8AD502057AE96C8B4B812BE,0,0,0,1,1,35685,5
5,DC1C8A9412B9E266A4C3D4CAF6DB06CB,1613822114,E7F038DE3EAD397AEC9193686C911677,84F2E902BA3CF3B34B8D056F6F78D488,0,0,0,0,0,1465500,61

### train, valid data split

In [22]:
train_df, val_df = train_test_split(df.compute(), test_size=0.5, random_state=777, shuffle=False)

### Group by language

In [23]:
engagements = train_df.groupby(['language_encode', 'tweet_id_encode'])[['is_reply',	'is_retweet',	'is_comment',	'is_like',	'positive_cnt']].sum()
engagements = engagements.reset_index()
engagements = engagements.set_index('language_encode', drop=True)

# engagements.loc[23].head()

In [27]:
n_languages = 66
language_engagements = [[] for _ in range(n_languages)]

for i in tqdm(range(n_languages)):
    try:
        tmp = engagements.loc[i]
        tmp = tmp.sort_values('positive_cnt', ascending=False).reset_index()
        language_engagements[i] = tmp
    except:
        print('There is no data on language ', str(i))

 74%|███████▍  | 49/66 [00:00<00:00, 118.73it/s]There is no data on language  26
There is no data on language  34
There is no data on language  38
100%|██████████| 66/66 [00:00<00:00, 117.45it/s]

In [29]:
print('# the largest value among positive engagements for each language')

for i in range(n_languages):
    try:
        print(f'language {i} : ', language_engagements[i].loc[0]['positive_cnt'])
    except:
        print('There is no data on language ', str(i))

# the largest value among positive engagements for each language
language 0 :  5
language 1 :  1
language 2 :  3
language 3 :  4
language 4 :  4
language 5 :  15
language 6 :  6
language 7 :  5
language 8 :  14
language 9 :  7
language 10 :  53
language 11 :  4
language 12 :  2
language 13 :  2
language 14 :  2
language 15 :  3
language 16 :  4
language 17 :  2
language 18 :  3
language 19 :  47
language 20 :  3
language 21 :  5
language 22 :  4
language 23 :  4
language 24 :  2
language 25 :  3
There is no data on language  26
language 27 :  2
language 28 :  3
language 29 :  5
language 30 :  1
language 31 :  5
language 32 :  6
language 33 :  8
There is no data on language  34
language 35 :  4
language 36 :  54
language 37 :  3
There is no data on language  38
language 39 :  2
language 40 :  11
language 41 :  6
language 42 :  1
language 43 :  11
language 44 :  2
language 45 :  15
language 46 :  12
language 47 :  9
language 48 :  17
language 49 :  3
language 50 :  2
language 51 :  5
language 52 :  2
language 53 :  1
language 54 :  4
language 55 :  10
language 56 :  7
language 57 :  6
language 58 :  2
language 59 :  6
language 60 :  6
language 61 :  16
language 62 :  27
language 63 :  2
language 64 :  4
language 65 :  2

In [30]:
print('# the number of rows for each language')

for i in range(n_languages):
    try:
        print(f'language {i}')
        print(' - all rows : ', len(language_engagements[i]),  ',  positive rows : ', len(language_engagements[i].loc[language_engagements[i]['positive_cnt'] != 0]))
    except:
        print('There is no data on language ', str(i))

# the number of rows for each language
language 0
 - all rows :  4116 ,  positive rows :  2227
language 1
 - all rows :  26 ,  positive rows :  14
language 2
 - all rows :  502 ,  positive rows :  344
language 3
 - all rows :  639 ,  positive rows :  348
language 4
 - all rows :  1635 ,  positive rows :  866
language 5
 - all rows :  63395 ,  positive rows :  35008
language 6
 - all rows :  3534 ,  positive rows :  1644
language 7
 - all rows :  8762 ,  positive rows :  4483
language 8
 - all rows :  10224 ,  positive rows :  5483
language 9
 - all rows :  13310 ,  positive rows :  7369
language 10
 - all rows :  93032 ,  positive rows :  46947
language 11
 - all rows :  835 ,  positive rows :  445
language 12
 - all rows :  45 ,  positive rows :  27
language 13
 - all rows :  309 ,  positive rows :  156
language 14
 - all rows :  378 ,  positive rows :  189
language 15
 - all rows :  70 ,  positive rows :  40
language 16
 - all rows :  744 ,  positive rows :  353
language 17
 - all rows :  293 ,  positive rows :  186
language 18
 - all rows :  713 ,  positive rows :  349
language 19
 - all rows :  514320 ,  positive rows :  248447
language 20
 - all rows :  1366 ,  positive rows :  774
language 21
 - all rows :  837 ,  positive rows :  441
language 22
 - all rows :  387 ,  positive rows :  198
language 23
 - all rows :  12235 ,  positive rows :  6417
language 24
 - all rows :  123 ,  positive rows :  81
language 25
 - all rows :  9793 ,  positive rows :  5559
language 26
There is no data on language  26
language 27
 - all rows :  586 ,  positive rows :  427
language 28
 - all rows :  283 ,  positive rows :  164
language 29
 - all rows :  1412 ,  positive rows :  746
language 30
 - all rows :  20 ,  positive rows :  10
language 31
 - all rows :  3763 ,  positive rows :  1893
language 32
 - all rows :  231 ,  positive rows :  111
language 33
 - all rows :  24999 ,  positive rows :  12377
language 34
There is no data on language  34
language 35
 - all rows :  2283 ,  positive rows :  1285
language 36
 - all rows :  33489 ,  positive rows :  16309
language 37
 - all rows :  600 ,  positive rows :  275
language 38
There is no data on language  38
language 39
 - all rows :  157 ,  positive rows :  71
language 40
 - all rows :  2233 ,  positive rows :  1149
language 41
 - all rows :  37559 ,  positive rows :  19782
language 42
 - all rows :  16 ,  positive rows :  11
language 43
 - all rows :  45415 ,  positive rows :  25304
language 44
 - all rows :  225 ,  positive rows :  125
language 45
 - all rows :  3113 ,  positive rows :  1668
language 46
 - all rows :  123410 ,  positive rows :  60696
language 47
 - all rows :  16854 ,  positive rows :  9422
language 48
 - all rows :  114392 ,  positive rows :  58758
language 49
 - all rows :  1203 ,  positive rows :  613
language 50
 - all rows :  433 ,  positive rows :  247
language 51
 - all rows :  693 ,  positive rows :  379
language 52
 - all rows :  220 ,  positive rows :  148
language 53
 - all rows :  19 ,  positive rows :  15
language 54
 - all rows :  418 ,  positive rows :  231
language 55
 - all rows :  790 ,  positive rows :  484
language 56
 - all rows :  1752 ,  positive rows :  909
language 57
 - all rows :  5069 ,  positive rows :  2589
language 58
 - all rows :  75 ,  positive rows :  48
language 59
 - all rows :  486 ,  positive rows :  263
language 60
 - all rows :  28358 ,  positive rows :  14185
language 61
 - all rows :  253767 ,  positive rows :  123879
language 62
 - all rows :  1309 ,  positive rows :  666
language 63
 - all rows :  95 ,  positive rows :  60
language 64
 - all rows :  660 ,  positive rows :  317
language 65
 - all rows :  122 ,  positive rows :  74

## 2. Get the popular tweets for each language

In [49]:
topn = 200
recommend_list_by_language = [[] for _ in range(n_languages)]
recommend_list = [[] for _ in range(n_languages)]

In [61]:
for i in range(n_languages):
    try:
        recommend_list_by_language[i] = language_engagements[i].loc[:topn-1]
    except:
        print('There is no data on language ', str(i))

There is no data on language  26
There is no data on language  34
There is no data on language  38

In [67]:
# # tweet_id_encode => real tweet_id
# for i in range(n_languages):
#     try:
#         tmp = recommend_list_by_language[i][['tweet_id_encode']].to_pandas()
#         tmp['tweet_id'] = tmp['tweet_id_encode'].apply(lambda x: idx_to_tweet[x])
#         recommend_list_by_language[i]['tweet_id'] = tmp['tweet_id']
#     except:
#         print('There is no data on language ', str(i))

In [68]:
for i in range(n_languages):
    try:
        # print(recommend_list[i])
        recommend_list[i] = recommend_list_by_language[i]['tweet_id_encode'].to_array()
    except:
        print('There is no data on language ', str(i))

There is no data on language  26
There is no data on language  34
There is no data on language  38

## 3. Get user's language

In [43]:
predict_df = val_df[['enaging_user_id', 'tweet_id_encode', 'language_encode']]

In [44]:
predict_df

                          enaging_user_id  tweet_id_encode  language_encode
id
1516674  EE752D9BC41F33D9D28438D029BFF7B2           281039               61
1516675  AB71349719541C3E79E1EAF0B57A6FD7          2302711                8
1516676  61456173C558CAA56BC63690C9B07DC5          2113080               19
1516677  70C4215ADBB49B5084B0CA3DB97101CE          1501140               19
1516678  7F7BA897FD3D47F64E7F292A593926A9          2578801               46
...                                   ...              ...              ...
3033343  281067C4636EEA50EAB4B3467A903B5F          1546859               19
3033344  C71A93DDBEEC05FFC7A805A34DD2A9FD          1801831               41
3033345  29E6F2749711782609F44D6E4E3951B8          1368295               10
3033346  FCBC2B8B3A1436BFAB5C1F14C6FE6811          2278228               19
3033347  F168514C26C1C9FCCF78D73E70CF311E           481381               19

[1516674 rows x 3 columns]

## 4.  Predict engagements for each user