In [8]:
import dask.dataframe as dd
import dask
from dask.distributed import Client
import dask.multiprocessing
dask.config.set(schedular='process')

In [10]:
client = Client()
client

In [3]:
all_features = ["text_ tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type","language", "tweet_timestamp", "engaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "enaging_user_id", "enaging_user_follower_count", "enaging_user_following_count", "enaging_user_is_verified",\
               "enaging_user_account_creation", "engagee_follows_engager", "reply_timestamp", "retweet_timestamp", "retweet_with_comment_timestamp", "like_timestamp"]

In [11]:
df = dd.read_csv('/dataset/twitter/part-00000', sep='\x01', header=None, names=all_features)#, dtype=DTYPES)

In [12]:
df.head()

,text_ tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,...,enaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,101\t56898\t137\t16925\t10731\t11481\t13980\t1...,NaN,5DCE3020423313CB0AC2631DEF94D2F5,NaN,NaN,NaN,Retweet,488B32D24BD4BB44172EB981C1BCA6FA,1613237034,BC9980C5385A68894C2862F41884FB27,...,2AEB7AFFD36CA43C0C963F24F75BCCAC,169,339,False,1520886748,False,NaN,NaN,NaN,NaN
1,101\t10159\t11322\t58550\t10836\t10126\t25900\...,NaN,2B6F5C7C4F04F34543C09DD6E58C8F66,NaN,2886BC98B8B910E86A792E56681FC841,9EFF000CDB18B710CDDB43EE1D8C300B,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1613748600,C0EBA033A5C0D2AD91B4500958E2C633,...,865C52D28FA84E5E233B530C6FDAECC2,393,1190,False,1237570695,False,NaN,NaN,NaN,NaN
2,101\t10159\t56314\t14364\t10109\t14657\t11359\...,NaN,784D3AE5E6429392245BD34FF4C82B5C,NaN,B8FEE70DF7DA75C584F9DA8C38E99874,D56FA7843AF6F2BC53A2E192B542EA58,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1613386238,03EA05E7440140ABF047BC216CE34917,...,FE83E568BD4B2ACDBAF876CFBB6C7296,629,1473,False,1263176351,False,NaN,NaN,NaN,1.613388e+09
3,101\t56898\t137\t10224\t10731\t64194\t41939\t3...,NaN,CA49ACBB31921F2A0FAC1CCCC99541F6,NaN,NaN,NaN,Retweet,B0FA488F2911701DD8EC5B1EA5E322D8,1613708640,2700B9E175757F126C082D6A5742787D,...,DB0201BF93E4CCA1B55932AC36923E43,123,200,False,1268276559,False,NaN,NaN,NaN,NaN
4,101\t7143\t1938\t113\t100\t10097\t100\t10097\t...,NaN,2C95B42C651B36D84584F3653D722142,Photo,NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,1612586018,B7E441F2D886830FB3F0CE29CB35CB6B,...,04F45C4A769FE2D7C792A96C92342DC2,134,379,False,1483862063,True,NaN,NaN,NaN,1.612587e+09

In [13]:
len(df)

3033902