# Analysis - Interactions time 
## 1. Load data

In [1]:
import sys
sys.path.append('..')

import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

from utils.cuda_cluster import *
from utils.dataset import read_data, factorize_small_cardinality
from utils.util import get_day_phase, get_hours_from_midnight_of_current_day

import core.config as conf

/home/hyez/anaconda3/envs/dask-cudf/lib/python3.7/site-packages/distributed/node.py:155: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 45943 instead
  http_address["port"], self.http_server.port

In [2]:
client

In [242]:
# data_path = conf.raw_data_path + '*' # for all dataset
data_path = conf.raw_data_path + 'part-00175'
ori_df = read_data(data_path)

number of rows: 3033347

In [351]:
df = ori_df[['tweet_timestamp']] # tweet create timestamp
df['datetime'] = df['tweet_timestamp'].astype('datetime64[s]').astype(np.str)

hours = df.datetime.str.split(' ',expand=True, n=1)[1].str.split(':',expand=True, n=1)[0].astype(np.int32)
df['hours'] = hours
df = df.drop('datetime', axis=1)
df.head()

/home/hyez/anaconda3/envs/dask-cudf/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

    tweet_timestamp  hours
id
1        1612993854     21
2        1612886900     16
3        1614019237     18
4        1612779567     10
5        1613822114     11